appdirs==1.4.4
astroid==2.4.2
backcall==0.2.0
blis==0.4.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cymem==2.0.3
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.4
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
mccabe==0.6.1
mpmath==1.1.0
murmurhash==1.0.2
numpy==1.19.3
parso==0.7.1
pickleshare==0.7.5
plac==1.1.3
preshed==3.0.2
prompt-toolkit==3.0.8
pyenv-win==2.64.3
Pygments==2.7.2
pylint==2.6.0
python-dateutil==2.8.1
pywin32==228
pyzmq==19.0.2
requests==2.24.0
six==1.15.0
spacy==2.3.2
srsly==1.0.2
sympy==1.6.2
thinc==7.4.1
toml==0.10.1
tornado==6.0.4
tqdm==4.51.0
traitlets==5.0.5
urllib3==1.25.11
virtualenv==20.0.31
virtualenv-clone==0.5.4
wasabi==0.8.0
wcwidth==0.2.5
wrapt==1.12.1
